/* Write your CSS here */
.app-container {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #cffcf1,
    #cffcf1,
    #defafe
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digital-container {
  display: flex;
  align-items: center;
  width: 1140px;
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 250px;
  width: 300px;
}

.elapsed-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.timer-controller-container {
  display: flex;
  align-items: center;
}

.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reset-img {
  width: 30%;
}

.pause-img {
  width: 30%;
}

.reset {
  background-color: transparent;
  border: none;
}

.pause {
  border: none;
  background-color: transparent;
}
.timer-btns {
  display: flex;
  align-items: center;
}

.timer-limit-container {
  background-image: linear-gradient(to right, #00fa64, #00d9f5);
  font-family: 'Roboto';
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.seconds {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
